## AI - Batch 37 - Assignment 01

Submitted by:

    - Shamayla Shahzadi
    - Roll No: PIAIC97078
    - Email: shamayla.shahzadi@gmail.com

# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Shamayla_PIAIC_student", 78, True, 23.9)

Shamayla_PIAIC_student 78 True 23.9

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
print("Shamayla_PIAIC_student", 78, True, 23.9, sep='-')

Shamayla_PIAIC_student-78-True-23.9

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [3]:
print("Shamayla_PIAIC_student", end=" ")
print(78, end=" ")
print(True, end=" ")
print(23.9, end=" ")

Shamayla_PIAIC_student 78 True 23.9

4) Can a python print function take no value to print???

In [5]:
print() # yes

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [7]:
friend_name = "Mr. Ahmed"
friend_age = 30
friend_profession = "Lawyer"
friend_education = "BSc Law"
friend_education_year = 2005
friend_employeer = "The Himalya Associates"
friend_employeer_city = "Karachi"
friend_work_year = 2015
friend_height = 5.10
friend_weight_gm = 70600
friend_monthly_income_pkr = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [12]:
current_year = 2022
no_of_years_passout = current_year - friend_education_year
print(no_of_years_passout)

17

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [13]:
no_years_experience = current_year - friend_work_year
print(no_years_experience)

7

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [15]:
dollar_rate_per_pkr = 218.37
friend_monthly_income_usd = friend_monthly_income_pkr / dollar_rate_per_pkr
print(friend_monthly_income_usd)

915.8767229930851

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [16]:
dollar_rate_per_pkr = 218.37
friend_monthly_income_usd = int(friend_monthly_income_pkr / dollar_rate_per_pkr)
print(friend_monthly_income_usd)

915

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [19]:
print(type(friend_weight_gm))
kg_per_gm = 1000
friend_weight_kg = int(friend_weight_gm/kg_per_gm)
print(friend_weight_kg)

<class 'int'>
70

11) print the year of birth of Mr. Ahmed.

In [21]:
print(f"Year of birth of {friend_name} is {current_year - friend_age}")

Year of birth of Mr. Ahmed is 1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [25]:
# No
print(100 % 6 == 0)

False